/* Reset CSS */

body{
  font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style Navbar */
.navbar {
    background-color: #68B984;
    display: flex;
    align-items: center;
    padding: 10px;
}

.logo {
    max-width: 100px;
    margin-right: 20px;
    margin-left: 50px;
    border-right: 4px solid #fff;
    padding-right: 10px;
}

.nav-list {
    list-style-type: none;
    display: flex;
    margin-left: auto; /*Membuat lish berada di kanan*/

}
.navbar-text {
    color: #fff;
    margin-right: 10px; /* Memberikan ruang antara teks dan garis */
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-list li {
    margin-left: 20px; /*Mengatur margin kiri antara menu*/
}

.nav-list a {
    text-decoration: none;
    color: #fff;
}

/* untuk footer */
footer{
    width: 100%;
    background: #68B984;
    color: white;
    align-items: CENTER;
   
  }
  
  footer h1{
    color: white;
  }
  
  .footer P{
    text-align: center;
  }
  
  .container-footer-all{
    width: 100%;
  
    padding: 40px;
  }
  
  .container-body{
    display: flex;
    justify-content: space-around;
  
  }
  
  .colum1{
    max-width: 400px;
  }
  
  .colum1 h1{
    font-size: 22px;
  }
  
  .colum1 p{
    font-size: 20px;
    color: white;
    margin-top: 20px;
    text-align: justify;
  }
  
  .colum2{         
    max-width: 400px;
    margin-right: 95px;
    
    
  }
  
  .colum2 h1{
    font-size: 22px;
  }
  
  .row{
    margin-top: 20px;
    display: flex;
  }
  
  .row img{
    width: 36px;
    height: 36px;
   
  }
  
  .row a{
    margin-top: 10px;
    margin-left: 20px;
    color: white;
    text-decoration: none;
  }
  
  .colum3{
    max-width: 400px;
  }
  
  .colum3 h1{
    font-size: 22px;
  }
  
  .row2{
    margin-top: 20px;
    display: flex;
  }
  
  .row2 img{
    width: 36px;
    height: 36px;
    color: white;
  }
  
  .row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
  }
  
  .container-footer{
    width: 100%;
    background: #47b26a;
  }
  
  .footer{
    align-items: center;
    padding: 25px;
  }
  
  .informasi{
    color: white;
  }
  
  .informasi a{
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  
  .copyright a{ 
    text-decoration: none;
    color: white;
    
  }
  
  @media screen and(max-width: 1100px){
    
    .container-body{
        flex-wrap: wrap;
    }
    .colum1{
       max-width: 100%; 
    }
  
    .colum2,
    .colum3{
        margin-top: 40px;
    }
  }
  /* untuk footer */

/* untuk isi */
.selamat{
    border: 90px;
    border-color: #dfdfdf;
   text-align: center;
}

main{
    display: flex;
    margin  : 50px;
    min-height: 53vh;
}

.list{
    margin-right: 50px;
}

.list-penduduk {
        background-color: green;
        color: white;
        padding: 15px 80px;
        margin-bottom: 12px;
}

.list-penduduk:hover {
        background-color: greenyellow;
        cursor: pointer;
}

.list-wilayah{
    background-color: green;
    color: white;
    padding: 15px 80px;
    margin-bottom: 20px;
}

.list-wilayah:hover {
    background-color: greenyellow;
    cursor: pointer;
}

.div-table {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    padding: 20px;
    width: 70%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.div-table h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.div-table p {
    font-size: 16px;
    color: #555;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

